name: Deploy Documentation

on:
  push:
    branches: [main]
    paths:
      - 'docs/**'
      - 'mkdocs.yml'

jobs:
  build:
    name: Deploy documentation
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v4.2.0
        with:
          python-version: '3.9'

      - name: Setup Poetry
        run: pip3 install mkdocs

      - name: Build Documentation
        run: |
          mkdocs build

      - name: Deploy to GitHub Pages
        run: |
          mkdocs gh-deploy -v --force
